# Node
node_modules
dist
dist-ssr
*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# DO NOT IGNORE HUGO OUTPUT
!hugo-site/public/**
!hugo-site/content/**
!hugo-site/layouts/**
!hugo-site/static/**
