# Node
node_modules

# Build folders (frontend only)
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# FORCE TRACK HUGO OUTPUT
!hugo-site/public/**
!hugo-site/content/**
!hugo-site/layouts/**
!hugo-site/static/**
